
<div class="wrap">
  <div class="container">
    <h1>Booking</h1>
      <%= simple_form_for [ @herd, @booking ] do |f| %>
        <%= f.input :check_in, as: :date %>
        <%= f.input :check_out, as: :date %>
        <%= f.submit "Edit", class: "btn btn-flat" %>
        <%= link_to 'return to Dashboard', herds_path,  class: "btn btn-flat"  %>
      <% end %>
  </div>
</div>
