<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>

<div>
  <% @bookings.each do |booking| %>
    <h2><%= booking.id %></h2>
    <p><%= booking.check_in %></p>
    <p><%= booking.check_out %></p>
    <p><%= booking.amount %>€</p>
    <%= link_to 'Home', root_path,  class: "btn btn-flat"  %>
  <% end %>
</div>
