<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<div>
    <h2><%= booking.id %></h2>
    <p><%= booking.check_in %></p>
    <p><%= booking.check_out %></p>
    <p><%= booking.amount %>€</p>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Edit', edit_booking_path %>
    <%= link_to "Remove", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
