<div class="banner">
  <div class="container">
    <h1>Rent-Animal brings <strong>a great experience </strong> to <strong>nature lover people</strong>!</h1>
    <p>Change your life and make a good decision, choose them.</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
    <%= link_to 'Dashboard', herds_path,  class: "btn btn-flat"  %>
  </div>

  <%= form_tag herds_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a herd"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
