<div class="banner">
  <div class="container">
    <h1>Rent-Animal brings <strong>a great experience </strong> to <strong>nature lover people</strong>!</h1>
    <p>Change your life and make a good decision, choose them.</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container d-flex justify-content-between mt-5">
<% Herd.last(3).each do |herd| %>
  <%= link_to herd_path(herd), :action => 'go' do %>
    <div class="top-card">
      <% if herd.photo.attached? %>
        <%= cl_image_tag herd.photo.key, {id: 'product-photo'} %>
      <% else %>
        <%= image_tag ('horses.jpg'), {id: 'product-photo'} %>
      <% end %>
        <div class="top-card-infos">
          <div class="design">
            <h2><%= herd.address %></h2>
            <h2><%= herd.name %></h2>
            <h2><%= herd.unit_price%> € /day</h2>
          </div>
        </div>
    </div>
  <% end %>
<% end %>
</div>
