  <div class="herd-card-map">
    <h3><%= herd.name.capitalize %></h3>
    <div class="herd-card-map-img">
    <% if herd.photo.attached? %>
      <%= cl_image_tag herd.photo.key, :class => "card-img-top"%>
      <% else %>
        <%= image_tag ('horses.jpg'), :class => "card-img-top"%>
      <% end %>
    </div>
    <p><i class="pr-2 fas fa-frog"></i><%= herd.species.capitalize%></p>
    <p><i class="pr-2 fas fa-file-prescription"></i><%= herd.description.capitalize %></p>
    <p><i class="pr-2 fas fa-map-marker-alt"></i><%= herd.address.upcase %></p>
  </div>