<h1>Herds</h1>
<p>Welcome in our world of pure nature</p>
  <% if @herds %>
    <% @herds.each do |herd| %>
      <%= link_to herd_path(herd), :action => 'go' do %>
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= herd.name %></h2>
              <p><%= herd.species %></p>
              <p> <%= herd.description %><p>
            </div>
            <h2 class="card-trip-pricing"><%= herd.name %>£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
<% end %>
</div>
<%= link_to 'Create a herd', new_herd_path,  class: "btn btn-flat"  %>
<ul>
  <% current_user.bookings.each do |booking| %>
  <li> <%= booking.check_in%></li>
  <li> <%= booking.check_out%></li>
  <li> <%= booking.amount%></li>
  <li> <%= booking.user_id%></li>
  <li> <%= booking.herd_id%></li>
</ul>
<% end %>