<h1>Herds</h1>
<p>Welcome in our world of pure nature</p>
  <% if @herds %>
    <% @herds.each do |herd| %>
      <%= link_to herd_path(herd), :action => 'go' do %>
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= herd.name %></h2>
              <p><%= herd.species %></p>
              <p> <%= herd.description %><p>
            </div>
            <h2 class="card-trip-pricing"><%= herd.name %>£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
<% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<%= link_to 'Create a herd', new_herd_path,  class: "btn btn-flat"  %>
