  <div class="wrapper">
    <div class="col-cards">
      <% if @herds %>
        <% @herds.each do |herd| %>
          <%= link_to herd_path(herd), :action => 'go' do %>
            <div class="card-product">
            <% if herd.photo.attached? %>
              <%= cl_image_tag herd.photo.key, {id: 'product-photo'} %>
            <% else %>
            <%= image_tag ('horses.jpg'), {id: 'product-photo'} %>
            <% end %>
              <div class="card-product-infos">
                <h2><%= herd.name %></h2>
                <p><i class="pr-2 fas fa-frog"></i><%= herd.species.capitalize%></p>
                <p><i class="pr-2 fas fa-file-prescription"></i><%= herd.description.capitalize %></p>
                <p><i class="pr-2 fas fa-map-marker-alt"></i><%= herd.address.upcase %></p>
                <p><i class="pr-2 fas fa-dollar-sign"></i><%= number_with_precision(herd.unit_price, delimiter: " ", precision: 2)%> € /day</p>
              </div>
            <% if herd.user.avatar.attached? %>
              <%= cl_image_tag herd.user.avatar.key, :class => "avatar-bordered-product" %>
            <% else %>
              <%= image_tag ('avatar.jpg'), :class => "avatar-bordered-product"%>
            <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
        <%= link_to 'Create a herd', new_herd_path,  class: "btn btn-flat"  %>
      </div>

        <div id="map"
          style="width: 100%; height: 600px; border-radius: 10px; margin: 5px 0px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
