  <div class="wrapper">
    <div class="col-cards">
      <% if @herds %>
        <% @herds.each do |herd| %>
          <%= link_to herd_path(herd), :action => 'go' do %>
            <div class="card-product">
            <% if herd.photo.attached? %>
              <%= cl_image_tag herd.photo.key, {id: 'product-photo'} %>
            <% else %>
            <%= image_tag ('horses.jpg'), {id: 'product-photo'} %>
            <% end %>
              <div class="card-product-infos">
                <h5><%= herd.name %></h2>
                <h5><%= herd.species %></h5>
                <p><%= herd.description %></p>
                <h5><%= herd.address %></h4>
                <h5><%= herd.unit_price%> € /day</h5>
              </div>
              <%= image_tag ('avatar.JPG'), :class => "avatar-bordered-product" %>
            </div>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to 'Create a herd', new_herd_path,  class: "btn btn-flat"  %>
      </div>
      <div>
        <div id="map"
          style="width: 100%; height: 600px; border-radius: 10px; margin: 5px 0px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>
