<div class="wrap">
  <div class="container">
    <h1>Herd</h1>
    <%= simple_form_for [ @herd ] do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :species %>
       <%= f.input :photo, as: :file, input_html: { multiple: true }%>
      <%= f.input :unit_price %>
      <%= f.submit "Create", class: "btn btn-flat" %>
      <%= link_to 'Dashboard', herds_path,  class: "btn btn-flat"  %>
    <% end %>
  </div>
</div>
