
 <div class="container">
  <div class="card-trip">
          <%= image_tag ('horses.jpg') %>
          <div class="card-trip-infos">
            <div>
              <h2><%= @herd.name %></h2>
              <p><%= @herd.species %></p>
              <p> <%= @herd.description %><p>
              <p> <%= @herd.address %><p>
            </div>
            <h2 class="card-trip-pricing"><%= @herd.unit_price%>€</h2>
            <%= image_tag ('avatar.JPG'), :class => "card-trip-user avatar-bordered" %>
          </div>
        </div>
      <%= link_to 'return to Dashboard', herds_path,  class: "btn btn-flat"  %>
      <%= link_to 'Book your Herd', new_herd_booking_path(@herd),  class: "btn btn-flat"  %>
    </div>
 </div>
