
<div class="container">
  <h1>Herd</h1>
  <div class="card-product">
    <% if @herd.photo.attached? %>
              <%= cl_image_tag @herd.photo.key, {id: 'product-photo'} %>
            <% else %>
            <%= image_tag ('horses.jpg'), {id: 'product-photo'} %>
            <% end %>
    <div class="card-product-infos">
      <h2><%= @herd.name %></h2>
      <h5><%= @herd.species %></h5>
      <p> <%= @herd.description %></p>
      <h4><%= @herd.address %></h4>
      <%= link_to icon('fas fa-pen','edit'), edit_herd_path %>
      <%= link_to icon('fas fa-trash', 'remove'), herd_path, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <div class="card-product-price">
      <h2><%= number_with_precision(@herd.unit_price, delimiter: " ", precision: 2) %> € /day</h2>
    </div>
    <%= image_tag ('avatar.JPG'), :class => "avatar-bordered-product" %>
  </div>
    <%= link_to 'Dashboard', herds_path,  class: "btn btn-flat"  %>
    <%= link_to 'Book this', new_herd_booking_path(@herd),  class: "btn btn-flat"  %>
    <%= link_to 'Bookings', herd_bookings_path(@herd),  class: "btn btn-flat"  %>
</div>
