<div class="bg-light border container">
  <div class="bg-light d-flex "> 
   <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: " m-3 w-25 avatar-bordered", alt: "avatar-bordered" %> 
      <% else %>
        <%= image_tag ('avatar.jpg'), class: " m-3 w-25 avatar-bordered", alt: "avatar-bordered" %> 
      <% end %>
    <div class="p-5 w-50 dashboard-profile-infos">
      <h4 class="p-2">Pseudo: <%= current_user.name %></h4>
      <h4 class="p-2">Birthdate: <%= %></h4>
      <h4 class="p-2">Phone Number: <%= current_user.phone %></h4>
      <h4 class="p-2">Email: <%= current_user.email %></h4>
    </div>
  </div>
  <div class="mt-2 wrapper">
      <div class="dashboard-bookings">
        <h2>Current bookings: <%= current_user.bookings.count %></h1>
      <% current_user.bookings.each do |booking| %>
          <div class="p-3 card-trip">
            <p>Name: <strong><%= link_to booking.herd.name , herd_path(booking.herd) %></strong></p>
            <p>Booking: <%= link_to booking.id, edit_herd_booking_path(booking.herd_id, booking.id) %></p>
            <p>check_in: <strong><%= booking.check_in.strftime("%d-%m-%Y") %></strong></p>
            <p>check_out: <strong><%= booking.check_out.strftime("%d-%m-%Y") %></strong></p>
            <p><%= number_with_precision(booking.days_booked, precision: 0) %> d</p>
            <p>Total Amount <strong><%= number_with_precision(booking.total_amount, delimiter: " ", precision: 2) %> €</strong></p>
            <p>
            <%= link_to icon('fas fa-pen', 'edit'), edit_herd_booking_path(booking.herd_id, booking.id) %>
            <%= link_to icon('fas fa-trash', 'remove'), booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
            </p>
          </div>
      <% end %>
      </div>
      <div class="dashboard-herds">
      <h2>Current Herds: <%= current_user.herds.count %></h1>
      <% current_user.herds.each do |herd| %>
          <div class=" p-3 card-trip">
            <p>Name: <strong><%= herd.name %></strong></p>
            <p>ID: <%= herd.id %></p>
            <p>description: <%= herd.description %></p>
            <p>Prix: <strong><%= number_with_precision(herd.unit_price, delimiter: " ", precision: 2) %> €</strong></p>
            <p>
            <%= link_to icon('fas fa-pen','edit'), edit_herd_path(herd) %>
            <%= link_to icon('fas fa-trash', 'remove'), herd_path(herd), method: :delete, data: { confirm: "Are you sure?" } %>
            </p>
          </div>
        <% end %>
    </div>
  </div>
</div>
